[
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
 {rabbit, [
           {consumer_timeout, undefined},
           {heartbeat, 0},  % clients can override this
           {loopback_users, []},
           {ssl_listeners, [5671]},
           {tcp_listeners, []},
           {cluster_partition_handling, pause_minority},
           {ssl_options, [{cacertfile, "/etc/cloudify/ssl/cloudify_internal_ca_cert.pem"},
                          {certfile,  "/etc/cloudify/ssl/rabbitmq-cert.pem"},
                          {keyfile,   "/etc/cloudify/ssl/rabbitmq-key.pem"},
                          {versions, ['tlsv1.2', 'tlsv1.1']},
                          {ciphers, [
                              {ecdhe_rsa,aes_256_gcm,aead,sha384},
                              {dhe_rsa,aes_256_gcm,aead,sha384},
                              {ecdhe_rsa,aes_128_gcm,aead,sha256},
                              {dhe_rsa,aes_128_gcm,aead,sha256},
                              {ecdhe_rsa,aes_256_cbc,sha384,sha384},
                              {dhe_rsa,aes_256_cbc,sha256},
                              {ecdhe_rsa,aes_128_cbc,sha256,sha256},
                              {dhe_rsa,aes_128_cbc,sha256}
                          ]},
                          {honor_cipher_order, true},
                          {honor_ecc_order, true}
                         ]
           }
          ]
 },
 {rabbitmq_management, [
    {load_definitions, "/etc/cloudify/rabbitmq/definitions.json"},
    {listener, [
        {port, 15671},

        {ssl, true},
        {ssl_opts, [{cacertfile, "/etc/cloudify/ssl/cloudify_internal_ca_cert.pem"},
                    {certfile,  "/etc/cloudify/ssl/rabbitmq-cert.pem"},
                    {keyfile,   "/etc/cloudify/ssl/rabbitmq-key.pem"},
                    {versions, ['tlsv1.2', 'tlsv1.1']},
                    {ciphers, [
                        {ecdhe_rsa,aes_256_gcm,aead,sha384},
                        {dhe_rsa,aes_256_gcm,aead,sha384},
                        {ecdhe_rsa,aes_128_gcm,aead,sha256},
                        {dhe_rsa,aes_128_gcm,aead,sha256},
                        {ecdhe_rsa,aes_256_cbc,sha384,sha384},
                        {dhe_rsa,aes_256_cbc,sha256},
                        {ecdhe_rsa,aes_128_cbc,sha256,sha256},
                        {dhe_rsa,aes_128_cbc,sha256}
                    ]},
                    {honor_cipher_order, true},
                    {honor_ecc_order, true}
                   ]
        }
    ]}
 ]}
].
