.idea
*.iml
out
outfds
**/.bundle/
*COMMIT_MSG

*.py[cod]

# C extensions
*.so
*.iml

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
.cache
.pytest_cache
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.noseids

# QuickBuild
.qbcache/

riemann.log
.libs

# vim
*.swp
.DS_Store

# rpm/mock build stuff
*.rendered.spec
*.rpm
*.gem
*.jar
*.tar.gz
*.exe
.vagrant/

# Created when running pytest
.cloudify/
config.yaml

# Environment files
.env
