language: java

jdk:
  - openjdk7

services:
  - rabbitmq

before_script:
   - "wget http://aphyr.com/riemann/riemann_0.2.2_all.deb"
   - "sudo dpkg -i riemann_0.2.2_all.deb"
   - "sudo touch /var/log/riemann/riemann.log"
   - "sudo chmod 666 /var/log/riemann/riemann.log"
   - "sudo test -d /dev/shm && sudo rm -rf /dev/shm"
   - "sudo ln -Tsf /{run,dev}/shm"
   - "sudo chmod 777 /dev/shm" # for celery worker

install:
   - "mvn install -Pall -f travis-pom.xml -DskipTests"
   - "rvm install jruby-1.7.3"
   - "rvm use jruby-1.7.3"
   - "gem install bundler --pre"
   - "cd workflow-service; bundle install; cd .."
   - "sudo pip install virtualenv"
   - "sudo pip install flake8"
   - "virtualenv ~/env"
   - "source ~/env/bin/activate"
   - "pip install nose"
   - "cd manager-rest && pip install --process-dependency-links . && cd .."
   - "cd workflows && pip install --process-dependency-links . && cd .."   

script:
   - "mvn verify -f travis-pom.xml"
   - "cd workflow-service; rake; cd .."
   - "flake8 vagrant/"
   - "flake8 manager-rest/"
   - "flake8 workflows/"
   - "nosetests manager-rest/manager_rest/test --nologcapture --nocapture"
   - "nosetests workflows/workflow_tests --nologcapture --nocapture"

