language: python
python:
  - "2.7"


install:

    # command to install dependencies
    - python setup.py install

    # command to install test dependencies next to the tested package
    - pwd
    - python setup.py test
    - ls -l



script:

    # command to run tests - we dont run remote tests since we cant provision vagrant inside travis
    - 'nosetests --nocapture --exclude=worker_installer.tests.test_fabric_retry_runner:TestRemoteRunnerCase,worker_installer.tests.test_worker_installer:TestRemoteInstallerCase'