language: python

services:
  - rabbitmq # will start rabbitmq-server

python:
  - "2.7"


install:

    # celery needs the /dev/shm device for billiard semaphore functionality.
    # this device is not mounted by default on travis hosts.
    # see https://github.com/travis-ci/travis-core/issues/187#issuecomment-13682856
    - sudo rmdir /dev/shm
    - sudo ln -Tsf /{run,dev}/shm

    # command to install dependencies
    - export COSMO_BRANCH=$TRAVIS_BRANCH
    - python setup.py install

    # command to install test dependencies
    - pip install -r test-requirements.txt



script:

    # command to run tests - we dont run remote tests since we cant provision vagrant inside travis
    - export COSMO_BRANCH=$TRAVIS_BRANCH
    - python -m unittest worker_installer.tests.test_worker_installer.TestLocalInstallerCase