language: java

jdk:
  - openjdk7

services:
  - rabbitmq

before_script:
   - wget https://download.elasticsearch.org/elasticsearch/elasticsearch/elasticsearch-1.0.1.deb
   - sudo dpkg -i elasticsearch-1.0.1.deb
   - export PATH=$PATH:/usr/share/elasticsearch/bin
   - sudo mkdir -p /usr/share/elasticsearch/data
   - sudo chmod 777 /usr/share/elasticsearch/data
   - wget http://aphyr.com/riemann/riemann_0.2.2_all.deb
   - sudo dpkg -i riemann_0.2.2_all.deb
   - sudo touch /var/log/riemann/riemann.log
   - sudo chmod 666 /var/log/riemann/riemann.log
   - sudo test -d /dev/shm && sudo rm -rf /dev/shm
   - sudo ln -Tsf /{run,dev}/shm
   - sudo chmod 777 /dev/shm  # for celery worker
   - echo "### Starting HTTP server for serving agent package (for agent installer tests)"
   - python -m SimpleHTTPServer 8000 &

install:
   # - rvm install ruby-2.1.0
   # - rvm use ruby-2.1.0
   # - rvm --default use ruby-2.1.0
   # - gem install bundler
   # - cd workflow-service; bundle install; cd ..
   - sudo pip install virtualenv
   - sudo pip install flake8

   - echo "### Creating agent package..."
   - mkdir -p package/linux
   - virtualenv package/linux/env
   - source package/linux/env/bin/activate
   - cd plugins/agent-installer && pip install --process-dependency-links . && cd ../..
   - cd plugins/plugin-installer && pip install --process-dependency-links . && cd ../..
   - tar czf agent.tar.gz package
   - rm -r package

   - virtualenv ~/env
   - source ~/env/bin/activate
   - pip install nose
   - cd plugins/agent-installer && pip install --process-dependency-links . && cd ../..
   - cd plugins/plugin-installer && pip install --process-dependency-links . && cd ../..
   - cd rest-service && pip install --process-dependency-links . && cd ..
   - cd tests && pip install --process-dependency-links . && cd ..

script:
   # - flake8 plugins/agent-installer/
   # - flake8 plugins/plugin-installer/
   # - flake8 rest-service/
   # - flake8 tests/

   # - cd workflow-service
   # - rake
   # - cd ..

   # - nosetests rest-service/manager_rest/test --nologcapture --nocapture
   # - nosetests tests/workflow_tests --nologcapture --nocapture -v
   # - nosetests plugins/plugin-installer/plugin_installer/tests --nologcapture --nocapture

   - cd plugins/agent-installer
   - nosetests worker_installer.tests.test_configuration:CeleryWorkerConfigurationTest --nologcapture --nocapture
   - nosetests worker_installer.tests.test_worker_installer:TestLocalInstallerCase --nologcapture --nocapture
   - cd ..

notifications:
  hipchat: 60884046bb8dec459418f468ba68b9@cosmo
