language: java

jdk:
  - openjdk7

services:
  - rabbitmq

before_script:
   - "gem install travis-artifacts"
   - "wget http://aphyr.com/riemann/riemann_0.2.2_all.deb"
   - "sudo dpkg -i riemann_0.2.2_all.deb"
   - "sudo touch /var/log/riemann/riemann.log"
   - "sudo chmod 666 /var/log/riemann/riemann.log"
   - "sudo test -d /dev/shm && sudo rm -rf /dev/shm"
   - "sudo ln -Tsf /{run,dev}/shm"
   - "sudo chmod 777 /dev/shm" # for celery worker

install:
#    !!! WARNING: NEVER USE THE mvn -X SWITCH AS IT LOGS THE SECRET KEY ENV VARIABLES !!!
   - "mvn install -Pall -f travis-pom.xml -DskipTests"
   - "rvm install jruby-1.7.3"
   - "rvm use jruby-1.7.3"
   - "cd workflow-service; bundle install; cd .."
   - "sudo pip install virtualenv"
   - "virtualenv ~/env"
   - "source ~/env/bin/activate"
   - "pip install manager-rest/"
   - "python workflows/setup.py install"

script:
#    !!! WARNING: NEVER USE THE mvn -X SWITCH AS IT LOGS THE SECRET KEY ENV VARIABLES !!!
   - "mvn verify -f travis-pom.xml"
   - "cd workflow-service; rake; cd .."
   - "nosetests manager-rest/manager_rest/test --nologcapture --nocapture"
   - "nosetests workflows/tests --nologcapture --nocapture"

after_success:
# upload orchestrator jars for develop and for master
   - "test ${TRAVIS_BRANCH} = develop && travis-artifacts upload --path $HOME/.m2/repository/org/cloudifysource/cosmo/orchestrator --target-path travisci"
   - "test ${TRAVIS_BRANCH} = master && travis-artifacts upload --path $HOME/.m2/repository/org/cloudifysource/cosmo/orchestrator --target-path travisci"
   - "test ${TRAVIS_BRANCH} = develop && travis-artifacts upload --path $HOME/.m2/repository/org/cloudifysource/cosmo/state-cache --target-path travisci"

env:
 global:
   - "ARTIFACTS_AWS_REGION=us-east-1"
   - "ARTIFACTS_S3_BUCKET=cosmo-snapshot-maven-repository"
   - secure: "ZFXmjFGg7wHA+u/8HmhAop6Y4zRJIHdVPvWrYHN3zlV5MuaG/5Zfr7HTzVyK\nGirLlRK3g0trDNnkNWYbnu4gfP1V7sPxv+G9HcP0Ig1hr13Xlh8u0u0yCFjp\nD/fW8nndIPNNi+7xT6KZMhUt+oNxEA31rY4dIVGoU7oHCebhD5U="
   - secure: "bXHI5aPs5VROGRwm44wPT49YzU8oSJ4Y82sl5SyAg7oalRPHeTdm2tv+cjx5\nxRaw9BW0CMYycbqQl3Bt8BuPfaQKgNpGdweJTFSdDKNB/rH0qnqFdBYLtbL3\nOv0UJp04XGUidfDjzCtS7uhrF5p/UFKewoFGaYuelasZ0wfCKFU="

# Comments: 
# 
#  Don't use your direct AWS credentials. Create limited credentials with Amazon IAM. Here are is the relevant group policy for IAM:
#
# 
# {
#   "Version": "2012-10-17",
#   "Statement": [
#     {
#       "Effect": "Allow",
#       "Action": [
#          "s3:GetObject*", "s3:PutObject*", "s3:DeleteObject*"
#       ],
#       "Resource": [ "arn:aws:s3:::cosmo-snapshot-maven-repository/*" ]
#     },
#     {
#       "Effect": "Allow",
#       "Action": [
#          "s3:ListBucket"
#       ],
#       "Resource": [ "arn:aws:s3:::cosmo-snapshot-maven-repository" ]
#     }
#   ]
# }
# 
#  Encrypting Credentials: http://about.travis-ci.org/docs/user/build-configuration/#Secure-environment-variables
#              travis encrypt -r CloudifySource/cosmo-manager ARTIFACTS_AWS_ACCESS_KEY_ID=xxxxx
#              travis encrypt -r CloudifySource/cosmo-manager ARTIFACTS_AWS_SECRET_ACCESS_KEY=xxxxx

#  How to upload travis artifacts:
#      https:# github.com/travis-ci/travis-artifacts
#      http://stackoverflow.com/questions/16406727/how-to-upload-travis-artifacts-to-s3-only-in-develop-branch/16406929?noredirect=1#16406929
#
#  How to find local maven repo: http:# stackoverflow.com/questions/5916157/how-to-get-the-maven-local-repo
#  Do not use mvn -X switch as it exposes the environment variables and exposes the secret key.
