https://github.com/cloudify-cosmo/cloudify-common/archive/7.0.3-build.zip#egg=cloudify-common[dispatcher,snmp]
https://github.com/cloudify-cosmo/cloudify-agent/archive/7.0.3-build.zip#egg=cloudify-agent

paramiko

psycopg2 --no-binary psycopg2
