cloudify-common[dispatcher,snmp] @ https://github.com/cloudify-cosmo/cloudify-common/archive/7.0.3-build.zip
cloudify-agent[celery,kerberos,fabric] @ https://github.com/cloudify-cosmo/cloudify-agent/archive/7.0.3-build.zip

paramiko

psycopg2 --no-binary psycopg2
