git+https://github.com/cloudify-cosmo/cloudify-common@6.4.2-build#egg=cloudify-common[dispatcher,snmp]
git+https://github.com/cloudify-cosmo/cloudify-agent@6.4.2-build#egg=cloudify-agent[celery,kerberos,fabric]

# fabric doesn't pin paramiko to 2.x, so we will. Paramiko 3.0.0 requires
# pynacl 1.5, but currently we pin to 1.4 (in cloudify-agent). This can be
# removed once we upgrade pynacl
paramiko>2,<3

# For dealing with the binary leftovers of psycopg2 in the 2.7.x version
psycopg2==2.9.3 --no-binary psycopg2