cloudify-common[dispatcher,snmp] @ https://github.com/cloudify-cosmo/cloudify-common/archive/master.zip
cloudify-agent[fabric,kerberos] @ https://github.com/cloudify-cosmo/cloudify-agent/archive/master.zip

paramiko

psycopg2 --no-binary psycopg2
