[
 {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
 {rabbit, [
           {loopback_users, []},
           {ssl_listeners, [5671]},
           {ssl_options, [{cacertfile,"/etc/cloudify/ssl/cloudify_internal_ca_cert.pem"},
                          {certfile,  "/etc/cloudify/ssl/cloudify_internal_cert.pem"},
                          {keyfile,   "/etc/cloudify/ssl/cloudify_internal_key.pem"},
                          {versions, ['tlsv1.2', 'tlsv1.1']}
                         ]}
 ]},
 {rabbitmq_management, [{load_definitions, "/etc/cloudify/rabbitmq/definitions.json"}]}
].
