pip install https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/3.1m4-build.zip
pip install https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.1m4-build.zip
pip install https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/3.1m4-build.zip
pip install https://github.com/cloudify-cosmo/cloudify-diamond-plugin/archive/1.1m4-build.zip
pip install https://github.com/cloudify-cosmo/cloudify-script-plugin/archive/1.1m4-build.zip
pyzmq

# Manually install:
# cloudify-manager/workflows
# cloudify-manager/plugins/agent-installer
# cloudify-manager/plugins/plugin-installer
# cloudify-manager/rest-service
