asgiref==3.4.1
async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.25.0
click==7.1.2
dataclasses==0.8
fastapi==0.73.0
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
importlib-metadata==4.8.3
pydantic==1.9.0
python-dotenv==0.19.2
PyYAML==6.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing-extensions==4.0.1
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
websockets==10.0  # >10.0 requires Python>=3.7
zipp==3.6.0
