cloudify-common[dispatcher] @ https://github.com/cloudify-cosmo/cloudify-common/archive/master.zip
cloudify-rest-service @ https://github.com/cloudify-cosmo/cloudify-manager/archive/master.zip#subdirectory=rest-service
