https://github.com/cloudify-cosmo/cloudify-common/archive/master.zip#egg=cloudify-common
https://github.com/cloudify-cosmo/cloudify-manager/archive/master.zip#egg=cloudify-rest-service&subdirectory=rest-service
