https://github.com/cloudify-cosmo/cloudify-common/archive/7.0.0-build.zip#egg=cloudify-common[dispatcher]
https://github.com/cloudify-cosmo/cloudify-manager/archive/7.0.0-build.zip#egg=cloudify-rest-service&subdirectory=rest-service
