asgiref==3.4.1
async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.24.0
click==7.1.2
dataclasses==0.8
fastapi==0.68.1
greenlet==1.1.1
h11==0.12.0
httptools==0.2.0
importlib-metadata==4.8.1
pydantic==1.8.2
python-dotenv==0.19.0
PyYAML==5.4.1
SQLAlchemy==1.4.22
starlette==0.14.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
uvloop==0.14.0
watchgod==0.7
websockets==9.1
zipp==3.5.0
