cloudify-common[dispatcher] @ https://github.com/cloudify-cosmo/cloudify-common/archive/7.0.4-build.zip
cloudify-rest-service @ https://github.com/cloudify-cosmo/cloudify-manager/archive/7.0.4-build.zip#subdirectory=rest-service
