version: 2.1

checkout:
  post:
    - >
      if [ -n "$CI_PULL_REQUEST" ]; then
        PR_ID=${CI_PULL_REQUEST##*/}
        git fetch origin +refs/pull/$PR_ID/merge:
        git checkout -qf FETCH_HEAD
      fi


executors:
  restservice_test:
    docker:
      - image: cimg/python:3.10.6
      - image: cimg/postgres:14.4.0
        environment:
          POSTGRES_USER: cloudify
          POSTGRES_PASSWORD: cloudify
          POSTGRES_DB: cloudify_db

commands:
  clone_premium:
    description: Clone cloudify-premium to ~/cloudify-premium
    steps:
      - run:
          name: Avoid hosts unknown for github
          command: mkdir -p ~/.ssh && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      - run:
          name: git clone premium
          command: |
            set -eux
            function clone {
              branch=$1
              git clone \
                --branch "$1" \
                --single-branch \
                --depth 1 \
                git@github.com:cloudify-cosmo/cloudify-premium.git \
                ~/cloudify-premium
            }
            clone "${CIRCLE_BRANCH}" || clone master

  build_rpm:
    description: Build a single component rpm
    parameters:
      spec_file:
        description: Name of the spec spec file
        type: string
    steps:
      - run:
          name: Installing build dependencies for << parameters.spec_file >>
          command: sudo yum-builddep -y packaging/<< parameters.spec_file >>
      - run:
          name: Downloading sources for << parameters.spec_file >>
          command: |
            spectool \
              -d "CLOUDIFY_VERSION ${CLOUDIFY_VERSION}" \
              -d "CLOUDIFY_PACKAGE_RELEASE ${CLOUDIFY_PACKAGE_RELEASE}" \
              -P packaging/<< parameters.spec_file >> \
              -S -g
      - run:
          name: Building rpm from << parameters.spec_file >>
          command: |
            rpmbuild \
              -D "CLOUDIFY_VERSION ${CLOUDIFY_VERSION}" \
              -D "CLOUDIFY_PACKAGE_RELEASE ${CLOUDIFY_PACKAGE_RELEASE}" \
              -bb packaging/<< parameters.spec_file >>

jobs:
  test_restservice:
    executor: restservice_test
    steps:
      - checkout
      - run: sudo apt-get install libldap-dev libsasl2-dev
      - run: virtualenv ~/venv
      - run: |
          pushd rest-service
            ~/venv/bin/pip install -Ur dev-requirements.txt
            ~/venv/bin/pip install -Ur test-requirements.txt
            ~/venv/bin/pip install -e .
          popd
      # run tests for every component here, instead of in separate jobs,
      # to save time installing dependencies
      - run: |
          ~/venv/bin/pytest \
            -sv \
            -a '(client_min_version is None or client_min_version <= 3.1) and (client_max_version is None or 3.1 <= client_max_version)' \
            rest-service/manager_rest/test/endpoints
      - run: |
          ~/venv/bin/pytest \
            -sv \
            -a '(client_min_version is None or client_min_version <= 3.1) and (client_max_version is None or 3.1 <= client_max_version)' \
            rest-service/manager_rest/test/infrastructure
      - run: |
          ~/venv/bin/pytest \
            -sv \
            rest-service/manager_rest/test/security
      - run: |
          ~/venv/bin/pytest \
            -sv \
            workflows
      - run: |
          ~/venv/bin/pytest \
            -sv \
            cloudify_types

  test_amqp_postgres:
    docker:
      - image: cimg/python:3.10.6
        environment:
          TEST_DATABASE_URL: postgresql://cloudify:cloudify@localhost/cloudify_db
      - image: rabbitmq:3.7.7
      - image: cimg/postgres:14.4.0
        environment:
          POSTGRES_USER: cloudify
          POSTGRES_PASSWORD: cloudify
          POSTGRES_DB: cloudify_db
    steps:
      - checkout
      - run: sudo apt-get install libldap-dev libsasl2-dev
      - run: virtualenv ~/venv
      - run: |
          pushd amqp-postgres
            ~/venv/bin/pip install -Ur test-requirements.txt
            ~/venv/bin/pip install -e .
          popd
      - run: |
          ~/venv/bin/pytest \
            -sv \
            amqp-postgres

  test_premium:
    executor: restservice_test
    steps:
      - checkout
      - run: sudo apt-get install libldap-dev libsasl2-dev
      - run: pip install --user tox
      - clone_premium
      - run: virtualenv ~/venv
      - run: |
          pushd rest-service
            ~/venv/bin/pip install -Ur dev-requirements.txt
            ~/venv/bin/pip install -Ur test-requirements.txt
            ~/venv/bin/pip install -e .
            ~/venv/bin/pip install -e ~/cloudify-premium
          popd
      # Replace the cloudify-manager URL in dev-requirements.txt with the local path to this checkout
      - run: sed -i "s:^.*cloudify-manager.*\(rest-service\)$:-e ${HOME}/project/\1/:" ~/cloudify-premium/dev-requirements.txt
      - run: |
          ~/venv/bin/pytest \
            -sv \
            ~/cloudify-premium/tests/unittests

  build-rpms:
    docker:
      - image: rpmbuild/centos7
    working_directory: ~/rpm
    steps:
      - checkout
      - run:
          name: Set version environment variables
          command: cat packaging/version_info >> $BASH_ENV
      - run: sudo yum install rpmdevtools -y
      - run: sudo chmod a+wx /opt
      - build_rpm:
          spec_file: cloudify-rest-service.spec
      - build_rpm:
          spec_file: cloudify-mgmtworker.spec
      - build_rpm:
          spec_file: cloudify-rabbitmq.spec
      - run: |
          mkdir result
          mv noarch/*.rpm result || true
          mv x86_64/*.rpm result || true
      - store_artifacts:
          path: result
          destination: result

  flake8:
    docker:
      - image: cimg/python:3.10.6
    steps:
      - checkout
      - run: pip install --user flake8
      - run: python -m flake8

workflows:
  version: 2
  build_and_test:
    jobs: &build_jobs
      - flake8
      - test_restservice
      - test_amqp_postgres
      - build-rpms
      - test_premium
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs: *build_jobs
