[Unit]
Description=Cloudify Management Worker Service
Wants=cloudify-rabbitmq.service
After=cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-mgmtworker
User={{ mgmtworker.service_user }}
Group={{ mgmtworker.service_group }}
WorkingDirectory={{ mgmtworker.home_dir }}/work
ExecStart={{ mgmtworker.home_dir }}/env/bin/celery worker \
    -Ofair \
    --include=cloudify.dispatch \
    --hostname cloudify.management \
    --config=cloudify.broker_config \
    --events \
    --app=cloudify_agent.app.app \
    --loglevel=${CELERY_LOG_LEVEL} \
    --queues=cloudify.management \
    --logfile=${CELERY_LOG_DIR}/cloudify.management_worker.log \
    --autoscale={{ mgmtworker.max_workers }},{{ mgmtworker.min_workers }} \
    --maxtasksperchild=10 \
    --without-gossip \
    --without-mingle \
    --with-gate-keeper \
    --gate-keeper-bucket-size={{ agent.max_workers }} \
    --with-logging-server \
    --logging-server-logdir=${CELERY_LOG_DIR}/logs \
    --logging-server-handler-cache-size={{ mgmtworker.max_workers }}

[Install]
WantedBy=multi-user.target
