-e git+https://github.com/cloudify-cosmo/cloudify-rest-client@develop#egg=cloudify-rest-client==3.0
-e git+https://github.com/cloudify-cosmo/cloudify-plugins-common@develop#egg=cloudify-plugins-common==3.0
