[Unit]
Description=Riemann Service
Wants=cloudify-rabbitmq.service
After=cloudify-rabbitmq.service

[Service]
User=riemann
Group=riemann
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/sysconfig/cloudify-riemann
ExecStart=/usr/bin/riemann -a ${RIEMANN_CONFIG_PATH}/main.clj
ExecStartPost=/bin/sudo -ucfyuser /opt/manager/scripts/activate_riemann_policies.sh
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
