[Unit]
Description=Riemann Service
Wants=cloudify-rabbitmq.service
After=cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=always
EnvironmentFile=/etc/sysconfig/cloudify-riemann
ExecStart=/bin/sudo -E -uriemann /usr/bin/riemann -a ${RIEMANN_CONFIG_PATH}/main.clj
ExecStartPost=/bin/sudo -ucfyuser /bin/bash -c "set -a && . /etc/sysconfig/cloudify-mgmtworker && /opt/mgmtworker/env/bin/python /opt/manager/scripts/activate_riemann_policies"

[Install]
WantedBy=multi-user.target
