[Unit]
Description=Cloudify AMQP InfluxDB Broker Service
Wants=cloudify-influxdb.service cloudify-rabbitmq.service
After=cloudify-influxdb.service cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-amqpinflux
User={{ amqpinflux.service_user }}
Group={{ amqpinflux.service_group }}
ExecStart=/opt/amqpinflux/env/bin/python /opt/amqpinflux/env/bin/cloudify-amqp-influxdb \
    --amqp-exchange cloudify-monitoring \
    --amqp-routing-key '*' \
    --amqp-hostname ${AMQP_HOST} \
    --amqp-username "${AMQP_USERNAME}" \
    --amqp-password "${AMQP_PASSWORD}" \
    --amqp-ssl-enabled "True" \
    --amqp-ca-cert-path "${AMQP_CA_CERT_PATH}" \
    --influx-database cloudify \
    --influx-hostname ${INFLUXDB_HOST}

[Install]
WantedBy=multi-user.target
