https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-4929-deployment-update-rebase.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/CFY-4929-deployment-update-Phase-II.zip