https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-5083-allow-overriding-of-different-workflows-to-run-on-add/remove-nodes.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/CFY-4929-deployment-update-Phase-II.zip