https://github.com/cloudify-cosmo/cloudify-rest-client/archive/CFY-5344-Support-skipping-install/uninstall-in-update.zip
https://github.com/cloudify-cosmo/cloudify-plugins-common/archive/CFY-5344-Support-skipping-install/uninstall-in-update.zip