[Unit]
Description=Cloudify Management Worker Service
Wants=cloudify-rabbitmq.service
After=cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
Restart=on-failure
User=cfyuser
Group=cfyuser
WorkingDirectory=/opt/mgmtworker/work
EnvironmentFile=/etc/sysconfig/cloudify-mgmtworker

ExecStart=/opt/mgmtworker/env/bin/python -m mgmtworker.worker \
    --queue "cloudify.management" \
    --max-workers ${MAX_WORKERS} \
    --hooks-queue "cloudify-hooks"

[Install]
WantedBy=multi-user.target
