[Unit]
Description=Cloudify Manager Service
Wants=network-online.target
After=network-online.target

[Service]
User=cfyuser
Group=cfyuser
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-manager
ExecStart=/bin/sh -c '/opt/manager/env/bin/uvicorn \
    --pid /run/cloudify-manager/pid \
    --workers ${UVICORN_WORKER_COUNT} \
    --limit-max-requests ${UVICORN_MAX_REQUESTS} \
    -b 127.0.0.1:${REST_PORT} \
    --timeout 300 manager_service.main:manager \
    --log-file /var/log/cloudify/rest/uvicorn.log \
    --access-logfile /var/log/cloudify/rest/uvicorn-access.log'

RuntimeDirectory=cloudify-manager
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
