[Unit]
Description=RabbitMQ Service
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/etc/sysconfig/cloudify-rabbitmq

# avoid a race condition when creating the erlang cookie
# see https://bugzilla.redhat.com/show_bug.cgi?id=1059913
ExecStartPre=-/bin/sh -c "/usr/sbin/rabbitmqctl status > /dev/null 2>&1"

ExecStart=/usr/sbin/rabbitmq-server
ExecStartPost=/usr/sbin/rabbitmqctl wait /var/run/rabbitmq/rabbitmq.pid

ExecStop=/usr/sbin/rabbitmqctl stop /var/run/rabbitmq/rabbitmq.pid
ExecStopPost=-/usr/bin/rm /var/run/rabbitmq/rabbitmq.pid

LimitNOFILE=102400

[Install]
WantedBy=multi-user.target
