rvm:
  - 1.8.6
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ruby-head
  - ree
  - rbx-18mode
  - rbx-19mode
  - jruby-18mode
  - jruby-19mode
matrix:
  allow_failures:
    - rvm: 1.8.6
    - rvm: rbx-18mode
    - rvm: rbx-19mode
