git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common==4.4.dev1

https://github.com/cloudify-cosmo/incubator-ariatosca/archive/master.zip
# test dependencies
mock
python-dateutil
wagon[venv]==0.6.3
faker
