https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/4.1.1.1-build.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/4.1.1.1-build.zip

# test dependencies
mock
python-dateutil
wagon==0.3.2
faker
