https://github.com/cloudify-cosmo/cloudify-dsl-parser/archive/3.3m4.zip
https://github.com/cloudify-cosmo/cloudify-rest-client/archive/3.3m4.zip
https://github.com/cloudify-cosmo/flask-securest/archive/0.6.zip

# test dependencies
python-dateutil
itsdangerous==0.24
