python-dateutil
virtualenv==15.1.0
wagon>=0.12
pytest
pytest-cov
pytest-xdist

# agent is only here for the mgmtworker, which is only (temporarily) used in tests
https://github.com/cloudify-cosmo/cloudify-agent/archive/master.zip
-e ../mgmtworker
