git+https://github.com/cloudify-cosmo/cloudify-common@4.4.1.2-build#egg=cloudify-common==4.4.1.2.dev1
git+https://github.com/cloudify-cosmo/cloudify-agent@4.4.1.2-build#egg=cloudify-agent[celery,kerberos]==4.4.1.2.dev1
