git+https://github.com/cloudify-cosmo/cloudify-common@CY-329-account-lock#egg=cloudify-common==4.4.dev1
git+https://github.com/cloudify-cosmo/cloudify-agent@CY-329-account-lock#egg=cloudify-agent[kerberos]==4.4.dev1
