[Unit]
Description=Cloudify AMQP PostgreSQL Broker Service
After=postgresql-14.service cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
RestartSec=2
Restart=on-failure
EnvironmentFile=/etc/sysconfig/cloudify-amqp-postgres
User=cfyuser
Group=cfyuser
ExecStart=/opt/manager/env/bin/cloudify-amqp-postgres

[Install]
WantedBy=multi-user.target
