git+https://github.com/cloudify-cosmo/cloudify-common@master#egg=cloudify-common==4.5.5.dev1
-e git+https://github.com/cloudify-cosmo/cloudify-manager@master#egg=cloudify-manager==4.5.5.dev1&subdirectory=rest-service
