git+https://github.com/cloudify-cosmo/cloudify-common@CY-3111-replace-certificates-on-agents#egg=cloudify-common[dispatcher]==CY-3111-replace-certificates-on-agents
-e ../rest-service
mock
pytest
pytest-cov
