git+https://github.com/cloudify-cosmo/cloudify-common@CY-2779-add-service-management-support-for-supervisord#egg=cloudify-common[dispatcher]==CY-2779-add-service-management-support-for-supervisord
-e ../rest-service
mock
pytest
pytest-cov
