git+https://github.com/cloudify-cosmo/cloudify-common@CY-2683-populate-target-deployment-during-evaluation#egg=cloudify-common[dispatcher]==CY-2683-populate-target-deployment-during-evaluation
-e ../rest-service
mock
pytest
pytest-cov
